
<div class="grid-x align-center centerText">
  <div class="cell medium-8 small-11">
    <p>{{section.settings.description}}</p>
  	<a class="btn-primary" href="{{section.settings.button_url}}">{{section.settings.button_label}}</a>
  </div>
</div>

{% schema %}
  {
	"name": "Middle Content",
	"class": "community-content-middle",
    "settings": [
		{
        "type": "html",
        "id": "description",
        "label": "description",
		"default": "description"
      },

		{
        "type": "text",
        "id": "button_label",
        "label": "Button Label"
      },
  		{
  			"type": "url",
  			"id": "button_url",
  			"label": "Link"
  		}
	]
  }
{% endschema %}

