{% schema %}
  {
    "name": "As Seen In",
    "settings": [],
"presets": [{
      "name": "As Seen In",
      "category": "Version 2"
    }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
<!-- knack-home-as-seen-in -->
<div class="grid-container asi">
  <h2 class="text-center ">As Seen In</h2>
  <div class="grid-x grid-margin-x">
    <div class="cell medium-4">
      <div class="asi-quotes">
        <span><a target="_blank" href="https://www.mensjournal.com/gear/knack-pack-one-bag-life-best-backpack/"><img class="lazy" data-src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/logo-mensjournal.png?45897" data-srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/logo-mensjournal_2x_6e9e2133-ebd6-460a-9575-79d621dff644.png?45897 2x"></a></span>
        <p>"The Knack Pack has garnered a lot of admiration in the carry community thanks to its adaptable EDC and travel-ready design."</p>
      </div>
    </div>
    <div class="cell medium-4">
      <div class="asi-quotes">
        <span><a target="_blank" href="https://the-gadgeteer.com/2019/01/14/knack-pack-expandable-backpack-review/"><img class="lazy" data-src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/logo-gadgeteer-v2.png?43567" data-srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/logo-gadgeteer-v2_2x_aa6ae0d8-f1aa-4b92-a8fd-f747ac1c21a1.png?43567 2x"></a></span>
        <p>"The versatility of an everyday commuter bag with the convenience of a travel backpack."</p>
      </div>
    </div>
        <div class="cell medium-4">
      <div class="asi-quotes">
        <span><a target="_blank" href="https://www.gq.com/story/the-best-travel-backpacks"><img class="lazy" data-src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/logo-gq.png?v=1579149804" data-srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/logo-gq_2x_846f1663-77b3-44f9-b6a8-17075abb7438.png?v=1579149804 2x"></a></span>
        <p>"The Best Travel Backpack for Business Travelers"</p>
      </div>
    </div>
    
	 
      
  </div>
  
  <div class="grid-x grid-margin-x">
     <div class="cell medium-4">
      <div class="asi-quotes">
        <span><a target="_blank" href="https://www.carryology.com/sponsored/the-knack-pack-2-0-new-and-improved/"><img class="lazy" data-src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/logo-carryology.png?45897" data-srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/logo-carryology_2x_c2aea373-38f9-4049-af1f-8c345b27daf3.png?45897 2x"></a></span>
        <p>"Its secret weapon is the patent-pending hideaway travel compartment that expands when you need it, and zips away when you don’t. And it packs flat like a suitcase."</p>
      </div>
    </div>
    <div class="cell medium-4">
      <div class="asi-quotes">
        <span><a target="_blank" href="https://www.fodors.com/news/style/this-is-the-best-backpack-for-when-you-only-need-a-backpack-but-dont-want-to-look-like-a-backpacker"><img class="lazy" data-src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/logo-fodorstravel-v2.png?43567" data-srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/logo-fodorstravel-v2_2x_9a2d382f-4423-4c77-aaa5-53d78a850264.png?43567 2x"></a></span>
        <p>"The best backpack for when you don’t want to look like a backpacker."</p>
      </div>
    </div>
    <div class="cell medium-4">
      <div class="asi-quotes">
        <span><a target="_blank" href="https://www.forbes.com/sites/nancyolson/2018/10/30/a-knack-for-packing-living-the-one-bag-life/#73c71084287d"><img class="lazy" data-src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/logo-forbes-v2.png?43590" data-srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/logo-forbes-v2_2x_99964e85-7db7-4620-aa8b-4e77417afab3.png?43590 2x"></a></span>
        <p>"If you love traveling light and brilliant design, the Knack Bag is for you."</p>
      </div>
    </div>

<!--     <div class="cell medium-4">
      <div class="asi-quotes">
        <span><a target="_blank" href="https://www.gearhungry.com/knack-large-expandable-knack-pack/"><img class="lazy" data-src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/logo-gearhungry-v2.png?43567" data-srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/logo-gearhungry-v2_2x_747d4f88-89c0-4117-b3b2-52a8fea7f130.png?43567 2x"></a></span>
        <p>"Comfortable, durable, versatile, and lots of space."</p>
      </div>
    </div> -->
    
   
  </div>
</div>