<!-- knack-bags-transform -->
<div style="position: relative;">
  <div class="grid-container" id="expandableBlockContainer">
    <div class="expandableBlock">
      <h2>EXPAND YOUR POSSIBILITIES: LAPTOP BACKPACK + HIDDEN CARRY-ON</h2>
      <div class="grid-x  align-middle align-center">
        <div class="cell medium-2">
          <div class="show-for-small hide-for-medium">
              <img class="arrows" src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/icon-arrow-tan-down.png?34215"  srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/icon-arrow-tan-down_2x_32aa94f5-1275-41ef-8e7b-d268eafa1fcf.png?34215 2x">
          </div>
          <img class="lazy" width="536" height="562" data-src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/bp-1.3.jpg?44917" data-srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/bp-1.3_2x_f3f57135-7265-407e-9d09-a9c4ba520a7e.jpg?44917 2x">
          <p>Professional styling appropriate for wherever you work</p>
        </div>

        <div class="cell medium-1">
          <div class="show-for-medium">
              <img class="arrows" src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/icon-arrow-tan.png?33564" srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/icon-arrow-tan_2x_21cd999d-20f1-47ac-9996-28631c5fe610.png?33564 2x">
          </div>
          <div class="show-for-small hide-for-medium">
              <img class="arrows" src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/icon-arrow-tan-down.png?34215" srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/icon-arrow-tan-down_2x_32aa94f5-1275-41ef-8e7b-d268eafa1fcf.png?34215 2x">
          </div>
        </div>

        <div class="cell medium-2">
          <img class="lazy" width="536" height="562" data-src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/bp-2.3.jpg?44917" data-srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/bp-2.3_2x_94052396-4906-4704-8718-e95fa287dd26.jpg?44917 2x">
          <p> Slim &amp; lightweight for easy, hands-free, every-day carry</p>
        </div>

        <div class="cell medium-1">
          <div class="show-for-medium">
              <img class="arrows" src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/icon-arrow-tan.png?33564" srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/icon-arrow-tan_2x_21cd999d-20f1-47ac-9996-28631c5fe610.png?33564 2x">
          </div>
          <div class="show-for-small hide-for-medium">
              <img class="arrows" src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/icon-arrow-tan-down.png?34215" srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/icon-arrow-tan-down_2x_32aa94f5-1275-41ef-8e7b-d268eafa1fcf.png?34215 2x">
          </div>
        </div>

        <div class="cell medium-2">
          <img class="lazy" width="536" height="562" data-src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/bp-3.3.jpg?44917" data-srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/bp-3.3_2x_60cf7c68-276e-45cf-9f21-6a9d333f2ed2.jpg?44917 2x">
          <p>Unzip &amp; expand for up to 75% more capacity when you need it</p>
        </div>

        <div class="cell medium-1">
          <div class="show-for-medium">
            <img class="arrows" src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/icon-arrow-tan.png?33564" srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/icon-arrow-tan_2x_21cd999d-20f1-47ac-9996-28631c5fe610.png?33564 2x">
          </div>
          <div class="show-for-small hide-for-medium">
              <img class="arrows" src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/icon-arrow-tan-down.png?34215" srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/icon-arrow-tan-down_2x_32aa94f5-1275-41ef-8e7b-d268eafa1fcf.png?34215 2x">
          </div>
        </div>

        <div class="cell medium-2">
          <img class="lazy" width="536" height="562" data-src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/bp-4.4.jpg?v=1593117589" data-srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/bp-4.4_2x_52e6b621-052d-4514-87ba-d8921eff13a3.jpg?v=1593117589 2x">
          <p>A work bag that is great for other uses: travel, around town or play</p>
        </div>

      </div>
    </div>
  </div>
  {% if section.settings.section_link_url %}
  <a style="z-index: 1; left: 0; top: 0; width: 100%; height: 100%; position: absolute;" href="{{ section.settings.section_link_url }}"></a>
  {% endif %}
</div>
{% stylesheet %}


{% endstylesheet %}

{% javascript %}
{% endjavascript %}


{% schema %}
  {
    "name": "Bag Transform Steps",
    "class": "bag-transform-steps",
    "settings": [
	  {
        "type": "url",
        "id": "section_link_url",
        "label": "Section Link Url"
      }],

    "presets": [{
      "name": "Bag Transform Steps",
      "category": "Version 2"
    }]
  }
{% endschema %}
