<div class="layout horizontal center mobile-stack feature page-width max-1300"> 
	<div class="fw"><h2>{{section.settings.heading}}</h2>
      <p>{{section.settings.description}}</p></div>
</div>


{% schema %}
  {
	"name": "Content",
	"class": "landing-content",
    "settings": [
		{
        "type": "header",
        "content": "Content"
      },
		{
        "type": "text",
        "id": "heading",
        "label": "Heading",
		"default": "heading"
      },
		{
        "type": "text",
        "id": "description",
        "label": "description",
		"default": "description"
      }
	]
  }

{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
