<div class="page-width page-content">

  {% include 'breadcrumbs' %}

  <div class="grid-container">
    <div class="grid-x">
      <div class="small-12 large-10 large-offset-1">
        <h1 class="text-center">COMPARE THE DIFFERENCE</h1>
        <p class="compare-desc">We get a lot of questions from people about which Knack Pack<sup>&reg;</sup> is the right size for them. It’s a difficult question to answer because everyone has such different needs. So, to help you out, we’ve highlighted some of the key differences between each size bag so that you can make the decision about which bag will work best for you.</p>
      </div>
    </div>
  </div>
      <div id="comparison-size-chart" class="">
        <div class="collapsible-content__inner">

          <!-- Comparison Chart Table -->
          <div class="grid-container">
            <div class="grid-x">
              <div class="small-12 large-10 large-offset-1">
                <div class="comparison-chart-table">
                  <table>
                    <caption>Packing Dimensions</caption>

                    <thead>
                      <tr>
                        <th width="50%">Medium</th>
                        <th width="50%">Large</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td colspan="2" class="no-border">Unexpanded</td>
                      </tr>
                      <tr>
                        <td style="vertical-align:bottom;">
                          <div class="bag-dimensions-img">
                            <a href="/products/medium-expandable-knackpack"><img alt="Medium Knack Backpack Unexpanded 17 Liters" src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/cc-med-bp.png?7521" srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/cc-med-bp_2x_2228e334-75d0-4a2a-b6b8-b596f45d6a1f.png?7521 2x"></a>
                          </div>
                          17 Liters
                        </td>
                        <td style="vertical-align:bottom;">
                          <div class="bag-dimensions-img">
                            <a href="/products/large-expandable-knackpack"><img alt="Large Knack Backpack Unexpanded 22 Liters" src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/cc-lrg-bp.png?7521" srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/cc-lrg-bp_2x_45cd2cca-d9a5-4880-ba83-cac98d5c28d8.png?7521 2x"></a>
                          </div>
                          22 Liters
                        </td>
                      </tr>
                      <tr>
                        <td colspan="2" class="no-border">Expanded</td>
                      </tr>
                      <tr>
                        <td style="vertical-align:bottom;">
                          <div class="bag-dimensions-img">
                            <a href="/products/medium-expandable-knackpack"><img alt="Medium Knack Backpack Expanded 31 Liters" src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/cc-med-bp-exp.png?7521" srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/cc-med-bp-exp_2x_b0f0444f-5467-4f8b-8854-56f83b40ff1f.png?7521 2x"></a>
                          </div>
                          17 L + 14 L = 31 Liters
                        </td>
                        <td style="vertical-align:bottom;">
                          <div class="bag-dimensions-img">
                            <a href="/products/large-expandable-knackpack"><img alt="Large Knack Backpack Expanded 37 Liters" src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/cc-lrg-bp-exp.png?7521" srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/cc-lrg-bp-exp_2x_441315cf-dde6-440d-aec6-5ad37acf395d.png?7521 2x"></a>
                          </div>
                          22 L + 15 L = 37 Liters
                        </td>
                      </tr>
                    </tbody>

                  </table>
                </div>
                <div class="comparison-chart-table">
                  <table class="additional-specs">
                    <caption>Additional Specs</caption>

                    <thead>
                      <tr>
                        <th width="50%">Medium</th>
                        <th width="50%">Large</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td colspan="2" class="no-border">
                          <div class="cc-icon">
                            <img alt="Weight Icon" src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/icon-weight.png?3252" srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/icon-weight_2x_227b0821-6701-43cc-a4ef-c45db6e26b37.png?3252 2x">
                          </div>
                          <span>
                            Weight
                          </span>
                        </td>
                      </tr>

                      <tr>
                        <td>
                          2 lb 11 oz
                        </td>
                        <td>
                          3 lb 4 oz
                        </td>
                      </tr>

                      <tr>
                        <td colspan="2" class="no-border">
                          <div class="cc-icon">
                            <img alt="Laptop Icon" src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/icon-laptop.png?3252" srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/icon-laptop_2x_1910f677-0ced-4505-bca0-254730edd412.png?3252 2x">
                          </div>
                          <span>
                            Laptop
                          </span>
                        </td>
                      </tr>

                      <tr>
                        <td>
                          15"
                        </td>
                        <td>
                          17"
                        </td>
                      </tr>

                      <tr>
                        <td colspan="2" class="no-border">
                          <div class="cc-icon">
                            <img alt="Plane Overhead Icon" src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/icon-overhead.png?3252" srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/icon-overhead_2x_f7f4d4bd-bc76-4676-aa22-e3d8d91f2888.png?3252 2x">
                          </div>
                          <span>
                            Overhead
                          </span>
                        </td>
                      </tr>

                      <tr>
                        <td>
                          All Jets
                        </td>
                        <td>
                          All Jets
                        </td>
                      </tr>

                      <tr>
                        <td colspan="2" class="no-border">
                          <div class="cc-icon">
                            <img alt="Plane Under Seat Icon" src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/icon-underseat.png?3252" srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/icon-underseat_2x_ee65d8b9-a29c-40e0-b03f-3ca3581fd524.png?3252 2x">
                          </div>
                          <span>
                            Under Seat
                          </span>
                        </td>
                      </tr>

                      <tr>
                        <td>
                          All Jets
                        </td>
                        <td>
                          Doesn't fit (when expanded)
                        </td>
                      </tr>

                      <tr>
                        <td colspan="2" class="no-border">
                          <div class="cc-icon">
                            <img alt="Outfits Icon" src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/icon-outfit.png?3252" srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/icon-outfit_2x_68496d1c-cf05-4e28-ba53-560f6c8dc7bb.png?3252 2x">
                          </div>
                          <span>
                            Outfits
                          </span>
                        </td>
                      </tr>

                      <tr>
                        <td>
                          2-3
                        </td>
                        <td>
                          3-4
                        </td>
                      </tr>

                      <tr>
                        <td colspan="2" class="no-border">
                          <div class="cc-icon">
                            <img alt="Water Bottle Pocket Icon" src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/icon-bottle.png?3252" srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/icon-bottle_2x_bbe507c5-88e1-46f9-8fdd-021cec432aeb.png?3252 2x">
                          </div>
                          <span>
                            Water Bottle Pocket
                          </span>
                        </td>
                      </tr>

                      <tr>
                        <td>
                          17 oz S'well&trade;
                        </td>
                        <td>
                          25 oz S'well&trade;
                        </td>
                      </tr>

                      <tr>
                        <td colspan="2" class="no-border">
                          <div class="cc-icon">
                            <img alt="Tuck-Away Hip Strap Icon" src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/icon-strap.png?3252" srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/icon-strap_2x_13c745ee-7574-435d-8ab0-f4134186caf6.png?3252 2x"> 
                          </div>
                          <span>
                            Tuck-Away Hip Strap
                          </span>
                        </td>
                      </tr>

                      <tr>
                        <td>
                          No
                        </td>
                        <td>
                          Yes
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="grid-container">

            <div class="size-chart">
              <h2 class="text-center">Size Chart</h2>

              <div class="text-center">
                
                <div class="grid-x">
                  <div class="cell medium-12">
                    <h4>Model: 5'5"</h4>
                    {{ 'size_5.5.png' | asset_url | img_tag: 'Knack Backpacks on 5 foot 5 inch model'}}        
                  </div>
                  <div class="cell medium-6 small-6">
                    <p>Medium</p>
                  </div>
                  <div class="cell medium-6 small-6">
                    <p>Large</p>
                  </div>      
                </div>
                <div class="grid-x">
                  <div class="cell medium-12">
                    <h4>Model: 5'11"</h4>
                    {{ 'size_5.11.png' | asset_url | img_tag: 'Knack Backpacks on 5 foot 11 inch model'}}        
                  </div>
                  <div class="cell medium-6 small-6">
                    <p>Medium</p>
                  </div>
                  <div class="cell medium-6 small-6">
                    <p>Large</p>
                  </div>      
                </div>
                <div class="grid-x">
                  <div class="cell medium-12">
                    <h4>Model: 6'3"</h4>
                    {{ 'size_6.3.png' | asset_url | img_tag: 'Knack Backpacks on 6 foot 3 inch model'}}        
                  </div>
                  <div class="cell medium-6 small-6">
                    <p>Medium</p>
                  </div>
                  <div class="cell medium-6 small-6">
                    <p>Large</p>
                  </div>      
                </div>    
              </div>
              
            </div>
            
          </div>
          
        </div>
      </div>


</div>
