<div class="page-width page-content">

  {% include 'breadcrumbs' %}


  
  

  <div class="grid-container">
    <div id="factory-seconds-hero">
      <div class="grid-x">
        
        <div class="cell large-6 fs-hero-text">
          <h4>LIMITED TIME</h4>
          <h1 class="yellow">FACTORY SECONDS SALE</h1>
          <h4 class="yellow">UP TO 40% OFF REGULAR PRICES</h4>
          <p style="padding-top: 10px;">Even we make mistakes...</p>
          <p>All Knack Packs coming directly from our factory go through our rigorous quality assurance process and sometimes our eagle-eyed inspectors find a few bags with cosmetic imperfections. Since these imperfections have no impact on the bag’s function and durability, we thought we’d offer them only to Knackpackers, while supplies last, at a special one-time price.</p>
          <p><strong>Please note, the products below are sold “as is” and they will not be eligible for returns or exchanges.</strong></p>
        </div>
        
        <div class="cell large-6 fs-hero-image">
        
        </div>
        
      </div>
    </div>
    <div id="factory-seconds-product">
      <h1>Medium Expandable Knack Pack</h1>
      <div class="grid-x">

        <div class="cell large-4 medium-6 small-12">
          <div id="shopify-section-knack-bags-product" class="shopify-section products">
            <div class="prodWrap medium">
              <h2>Savile Gray <span class="fs-text">(Factory Seconds)</span></h2>
              <span class="price">
                <strong>$105</strong> 
                <strike>$175</strike>
              </span>
              <div class="prod-images">
                <div class="product-image">
                  <a class="shop-now-link" href="/products/medium-expandable-knack-pack®-seconds?variant=29068521472061">
                    <img src="//cdn.shopify.com/s/files/1/0023/8767/3149/files/md_knack_gray_angle_200x300.jpg?31696" alt="">
                  </a>
                </div>
              </div>
              <a class="shop-now-link btn-primary" href="/products/medium-expandable-knack-pack®-seconds?variant=29068521472061">Shop Now</a>
            </div>
          </div>
        </div><!-- /cell -->

        <div class="cell large-4 medium-6 small-12">
          <div id="shopify-section-knack-bags-product" class="shopify-section products">
            <div class="prodWrap medium">
              <h2>Stealth Black <span class="fs-text">(Factory Seconds)</span></h2>
              <span class="price">
                <strong>$105</strong>
                <strike>$175</strike>
              </span>
              <div class="prod-images">
                <div class="product-image">
                  <a class="shop-now-link" href="/products/medium-expandable-knack-pack®-seconds?variant=29068521504829">
                    <img src="//cdn.shopify.com/s/files/1/0023/8767/3149/files/md_knack_black_angle_200x300.jpg?31696" alt="">
                  </a>
                </div>
              </div>
              <a class="shop-now-link btn-primary" href="/products/medium-expandable-knack-pack®-seconds?variant=29068521504829">Shop Now</a>
            </div>
          </div>
        </div><!-- /cell -->

        <div class="cell large-4 medium-6 small-12">
          <div id="shopify-section-knack-bags-product" class="shopify-section products">
            <div class="prodWrap medium">
              <h2>Loden Green <span class="fs-text">(Factory Seconds)</span></h2>
              <span class="price">
                <strong>$105</strong> 
                <strike>$175</strike>
              </span>
              <div class="prod-images">
                <div class="product-image">
                  <a class="shop-now-link" href="/products/medium-expandable-knack-pack®-seconds?variant=29068521439293">
                    <img src="//cdn.shopify.com/s/files/1/0023/8767/3149/files/md_knack_green_angle_200x300.jpg?31696" alt="">
                  </a>
                </div>
              </div>
              <a class="shop-now-link btn-primary" href="/products/medium-expandable-knack-pack®-seconds?variant=29068521439293">Shop Now</a>
            </div>
          </div>
        </div><!-- /cell -->

      </div><!-- /grid-x -->
      <h1>Large Expandable Knack Pack</h1>
      <div class="grid-x">

        <div class="cell large-4 medium-6 small-12">
          <div id="shopify-section-knack-bags-product" class="shopify-section products">
            <div class="prodWrap large">
              <h2>Savile Gray <span class="fs-text">(Factory Seconds)</span></h2>
              <span class="price">
                <strong>$120</strong>
                <strike>$195</strike>
              </span>
              <div class="prod-images">
                <div class="product-image">
                  <a class="shop-now-link" href="/products/large-expandable-knack-pack%C2%AE-seconds?variant=29068639076413">
                    <img src="//cdn.shopify.com/s/files/1/0023/8767/3149/files/lrg_knack_gray_angle_200x300.png?32313" alt="">
                  </a>
                </div>
              </div>
              <a class="shop-now-link btn-primary" href="/products/large-expandable-knack-pack%C2%AE-seconds?variant=29068639076413">Shop Now</a>
            </div>
          </div>
        </div><!-- /cell -->

        <div class="cell large-4 medium-6 small-12">
          <div id="shopify-section-knack-bags-product" class="shopify-section products">
            <div class="prodWrap large">
              <h2>Stealth Black <span class="fs-text">(Factory Seconds)</span></h2>
              <span class="price">
                <strong>$120</strong> 
                <strike>$195</strike>
              </span>
              <div class="prod-images">
                <div class="product-image">
                  <a class="shop-now-link" href="/products/large-expandable-knack-pack®-seconds?variant=29068639109181">
                    <img src="//cdn.shopify.com/s/files/1/0023/8767/3149/files/lrg_knack_black_angle_200x300.png?32313" alt="">
                  </a>
                </div>
              </div>
              <a class="shop-now-link btn-primary" href="/products/large-expandable-knack-pack®-seconds?variant=29068639109181">Shop Now</a>
            </div>
          </div>
        </div><!-- /cell -->

      </div><!-- /grid-x -->

    </div><!-- /factory-second-product -->
  </div><!-- /grid-container -->
  
</div><!-- /pade-width -->