{% render 'shogun-products', content: page %}
<div class="page-width">
  {{page.content}}
  <div>
  	{% section 'featured-content' %}
  </div>
  <div>
    {% section 'knack-bags-transform' %}
  </div>
  <div>
    {% section 'knack-home-value-proposition' %}
  </div>
  <div>
    {% section 'knack-home-mosaic' %}
  </div>
  <div>
    {% section 'homepage-welcome' %}
  </div>
  <div>
    {% section 'knack-home-as-seen-in' %}
  </div>
</div>




